<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">

<body>
    <h1>등록 완료 !</h1>

    <div th:object="item">
        <label for="name">이름</label>
        <input type="text" id="name" th:field="*{item.name}" readonly><br>
        <label for="price">가격</label>
        <input type="number" id="price" th:field="*{item.price}" readonly><br>
        <label for="quantity">수량</label>
        <input type="number" id="quantity" th:field="*{item.quantity}" readonly><br>
    </div>
</body>
</HTML>